<%- include('partials/header') %>

<body>
    <%- include('partials/nav')%>
    <section class="panel-admin">
        <div class="chiquito">
            <div class="movil">
                <table class="table" id="tabla">
                    
                    <% if (cotizacion) { %>
                        <%- include('partials/tables/tbl_cotizacion')%>
                    <% } %>

                    <% if (cliente) { %>
                        <%- include('partials/tables/tbl_cliente')%>
                    <% } %>

                    <% if (producto) { %>
                        <%- include('partials/tables/tbl_producto')%>
                    <% } %>

                    <% if (pedido) { %>
                        <%- include('partials/tables/tbl_detalle')%>
                    <% } %>

                    <% if (factura) { %>
                        <%- include('partials/tables/tbl_factura')%>
                    <% } %>

                </table>
            </div>
        </div>
        <div class="opciones">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Insertar</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Actualizar</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Eliminar</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <% if (cotizacion) { %>
                        <%- include('partials/forms/form_cotizacion_insert')%>
                    <% } %>

                    <% if (cliente) { %>
                        <%- include('partials/forms/form_cliente_insert')%>
                    <% } %>

                    <% if (producto) { %>
                        <%- include('partials/forms/form_producto_insert')%>
                    <% } %>

                    <% if (pedido) { %>
                        <%- include('partials/forms/form_pedido_insert')%>
                    <% } %>

                    <% if (factura) { %>
                        <%- include('partials/forms/form_factura_insert')%>
                    <% } %>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <form action="/update" method="POST">
                        <div class="form-group">
                            <label for="Nombre producto">Id Cotizacion</label>
                            <input type="number" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Nombre producto">Nombre cliente</label>
                            <input type="text" value="" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <form action="/update" method="POST">
                        <div class="form-group">
                            <label for="Nombre producto">Id Cotizacion</label>
                            <input type="number" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Nombre producto">Nombre cliente</label>
                            <input type="text" value="" class="form-control">
                        </div>
                    </form>
                </div>
              </div>
        </div>
    </section>  

</body>
</html>