<%- include('partials/header') %>

<body>
    <header class="cabecera">
        <h1>El admin</h1>
        <a href="/logout">Salir</a>
    </header>
    <section class="panel-admin">
        <div class="chiquito">
            <div class="movil">
                <table class="table" id="tabla">
                    <thead>
                        <tr>
                            <th scope="col">Id Cotizacion</th>
                            <th scope="col">Nombre Cliente</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Cantidad de equipos</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Capacidad</th>
                            <th scope="col">Potencia</th>
                            <th scope="col">Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(i = 0; i < coti.length; i++) {%>
                            <tr class="seleccionar">
                                <th scope="row"><%= coti[i].idCotizacion %></td>
                                <td id="ts"><%= name[i].nombre %></td>
                                <td><%= coti[i].fecha %></td>
                                <td><%= coti[i].cantidad %></td>
                                <td><%= coti[i].equipo %></td>
                                <td><%= coti[i].codigo %></td>
                                <td><%= coti[i].capacidad %></td>
                                <td><%= coti[i].potencia %></td>
                                <td><%= coti[i].detalles %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            function myFunction() {
              alert(document.getElementById("tabla").rows[0].cells.namedItem("ts").innerHTML);
            }
        </script>
        <div class="opciones">
            <form action="/update" method="POST">
                <div class="form-group">
                    <label for="Nombre producto">Id Cotizacion</label>
                    <input type="number" value="" class="form-control">
                    <button type="submit" class="btn btn-primary xd">Actualizar</button>
                </div>
                <div class="form-group">
                    <label for="Nombre producto">Nombre cliente</label>
                    <input type="text" value="" class="form-control">
                    <button type="submit" class="btn btn-primary xd">Actualizar</button>
                </div>
            </form>
        </div>
    </section>  

</body>
</html>