<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="js/vistas.js"></script> -->
    <title>Vistas</title>
</head>
<body>
    <!-- <p class="vista">Qliao XD</p> -->

    <div class="row">
        <div class="column">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                </tr>
                <% for (i = 0; i < ver.length; i++) {%>
                    <tr>
                        <td><%= ver[i].idProductos %></td>
                        <td><%= ver[i].nombre %></td>
                        <td><%= ver[i].cantidad %></td>
                        <td><%= ver[i].precioPro %></td>
                        <td><%= ver[i].descripcion %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>

    <form action="/vistas" method="POST">
        <h1>XD</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Descripcion</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="idProductos">
                </td>
                <td>
                    <input type="text" name="nombre">
                </td>
                <td>
                    <input type="text" name="cantidad">
                </td>
                <td>
                    <input type="text" name="precioPro">
                </td>
                <td>
                    <input type="text" name="descripcion">
                </td>
                <td>
                    <input type="submit">
                </td>
            </tr>

        </table>
    </form>
</body>
</html>