<!--En Ubuntu Ctrl + Shift + I para identar el codigo-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMCH</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/estilos/css/normalize.css">
    <link rel="stylesheet" href="/estilos/css/style.css">

    <script src="/estilos/popupS-master/dist/popupS.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/estilos/popupS-master/css/popupS.css">
</head>

<body>
    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/">
                    <img src="/estilos/img/imch.svg" alt="Logotipo de bienes raices">
                </a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="/estilos/img/barras.svg" alt="Icono menu">
                    </a>
                </div>
                <nav id="navegacion" class="navegacion">
                    <a href="/index">Inicio</a>
                    <a href="/productos">Productos</a>
                    <a href="/servicios">Servicios</a>
                    <a href="/cotizaciones">Cotizaciones</a>
                </nav>
            </div>



        </div>
        <!--Este es el contenedor-->
    </header>
    <main class="seccion contenedor">
        <h2 class="fw-300 centrar-texto ">Productos</h2>
            <div class="contenedor-anuncios">
                <% for (i = 0; i < products.length; i++) {%>
                    <div class="anuncio">
                        <img src="/estilos/img/indice.jpeg" alt="Anuncio casa en lago">
                        <div class="contenido-anuncio">
                            <h3><%= products[i].nombre %></h3>
                            <!-- <p>Alimentación 120 / 240 VCA</p>
                            <p>Salida de la bomba 10 Amp</p>
                            <p>El motor de aire maximo 1HP</p> -->
                            <p><%= products[i].descripcion %></p>
                            <p class="precio" name="precioProducto">$<%= products[i].precioPro %></p>
                            <a href="/venta/id=<%= products[i].idProductos %>" class="boton boton-azul d-block" name="<%= i %>">Comprar</a>
                        </div>
                    </div>
                <% } %>
            </div>
    </main>
    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav id="navegacion" class="navegacion">
                <a href="/index">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/servicios">Servicios</a>
                <a href="/cotizaciones">Cotizaciones</a>
            </nav>
            <p class="copyright">Todos los derechos reservados 2020 &reg; </p>
        </div>
    </footer>
</body>

</html>