<!--En Ubuntu Ctrl + Shift + I para identar el codigo-->
<%- include('partials/head')%>

<body>
    <%- include('partials/header')%>
    <%- include('partials/menulang.ejs')%>

    <main class="seccion contenedor">
        <h2 class="fw-300 centrar-texto lang" key="tit-prod">Productos</h2>
            <div class="contenedor-anuncios">
                <% for (i = 0; i < products.length; i++) {%>
                    <div class="anuncio">
                        <img src="/estilos/img/indice.jpeg" alt="Anuncio casa en lago">
                        <div class="contenido-anuncio">
                            <h3><%= products[i].nombre %></h3>
                            <!-- <p>Alimentación 120 / 240 VCA</p>
                            <p>Salida de la bomba 10 Amp</p>
                            <p>El motor de aire maximo 1HP</p> -->
                            <p><%= products[i].descripcion %></p>
                            <p class="precio" name="precioProducto">$<%= products[i].precioPro %></p>
                            <a href="/venta/id=<%= products[i].idProductos %>" class="boton boton-azul d-block lang" key="comprar">Comprar</a>
                        </div>
                    </div>
                <% } %>
            </div>
    </main>
    <%- include('partials/footer')%>
</body>

</html>